LOCATE COMP "osc_clk_in" SITE "A10";
IOBUF PORT "osc_clk_in" IO_TYPE=LVCMOS33;

LOCATE COMP "G1_data"	SITE "T17";
LOCATE COMP "GND1"		SITE "U16";
LOCATE COMP "G2_data"	SITE "U17";
LOCATE COMP "GND2"		SITE "N19";
LOCATE COMP "B"			SITE "M18";
LOCATE COMP "D"			SITE "N17";
LOCATE COMP "LAT"		SITE "U20";
LOCATE COMP "GND3"		SITE "T19";

IOBUF PORT "G1_data" IO_TYPE=LVCMOS33;
IOBUF PORT "GND1"	 IO_TYPE=LVCMOS33;
IOBUF PORT "G2_data" IO_TYPE=LVCMOS33;
IOBUF PORT "GND2"	 IO_TYPE=LVCMOS33;
IOBUF PORT "B"		 IO_TYPE=LVCMOS33;
IOBUF PORT "D"		 IO_TYPE=LVCMOS33;
IOBUF PORT "LAT"	 IO_TYPE=LVCMOS33;
IOBUF PORT "GND3"	 IO_TYPE=LVCMOS33;

LOCATE COMP "R1_data"	SITE "P18";
LOCATE COMP "B1_data"	SITE "N20";
LOCATE COMP "R2_data"	SITE "T16";
LOCATE COMP "B2_data"	SITE "P17";
LOCATE COMP "A"			SITE "M17";
LOCATE COMP "C"			SITE "N18";
LOCATE COMP "clk_out"	SITE "U19";
LOCATE COMP "OE_N"		SITE "R18";

IOBUF PORT "R1_data" IO_TYPE=LVCMOS33;
IOBUF PORT "B1_data" IO_TYPE=LVCMOS33;
IOBUF PORT "R2_data" IO_TYPE=LVCMOS33;
IOBUF PORT "B2_data" IO_TYPE=LVCMOS33;
IOBUF PORT "A"		 IO_TYPE=LVCMOS33;
IOBUF PORT "C"		 IO_TYPE=LVCMOS33;
IOBUF PORT "clk_out" IO_TYPE=LVCMOS33;
IOBUF PORT "OE_N"	 IO_TYPE=LVCMOS33;
