LOCATE COMP "osc_clk_in" SITE "A10";
IOBUF PORT "osc_clk_in" IO_TYPE=LVCMOS33;

LOCATE COMP "G1_data"	SITE "B15";
LOCATE COMP "GND1"		SITE "B13";
LOCATE COMP "G2_data"	SITE "D11";
LOCATE COMP "GND2"		SITE "B12";
LOCATE COMP "B"			SITE "D12";
LOCATE COMP "D"			SITE "C13";
LOCATE COMP "LAT"		SITE "E13";
LOCATE COMP "GND3"		SITE "A9";

IOBUF PORT "G1_data" IO_TYPE=LVCMOS33;
IOBUF PORT "GND1"	 IO_TYPE=LVCMOS33;
IOBUF PORT "G2_data" IO_TYPE=LVCMOS33;
IOBUF PORT "GND2"	 IO_TYPE=LVCMOS33;
IOBUF PORT "B"		 IO_TYPE=LVCMOS33;
IOBUF PORT "D"		 IO_TYPE=LVCMOS33;
IOBUF PORT "LAT"	 IO_TYPE=LVCMOS33;
IOBUF PORT "GND3"	 IO_TYPE=LVCMOS33;

LOCATE COMP "R1_data"	SITE "C15";
LOCATE COMP "B1_data"	SITE "B20";
LOCATE COMP "R2_data"	SITE "E11";
LOCATE COMP "B2_data"	SITE "C12";
LOCATE COMP "A"			SITE "E12";
LOCATE COMP "C"			SITE "D13";
LOCATE COMP "clk_out"	SITE "A14";
LOCATE COMP "OE_N"		SITE "B10";

IOBUF PORT "R1_data" IO_TYPE=LVCMOS33;
IOBUF PORT "B1_data" IO_TYPE=LVCMOS33;
IOBUF PORT "R2_data" IO_TYPE=LVCMOS33;
IOBUF PORT "B2_data" IO_TYPE=LVCMOS33;
IOBUF PORT "A"		 IO_TYPE=LVCMOS33;
IOBUF PORT "C"		 IO_TYPE=LVCMOS33;
IOBUF PORT "clk_out" IO_TYPE=LVCMOS33;
IOBUF PORT "OE_N"	 IO_TYPE=LVCMOS33;
